<div class="card content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="card-body">
        <section id="feather-icons">
            <div class="row">
              <!-- <div class="col-12 col-md-6">
                <div class="icon-search-wrapper my-3 mx-auto">
                  <div class="form-group input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i data-feather="search"></i></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      id="icons-search"
                      [(ngModel)]="searchText"
                      placeholder="Busqueda..."
                    />
                  </div>
                </div>
              </div> -->

              <div class="col-12 col-md-8">
                <fieldset class="form-group">
                  <input
                      type="text"
                      class="form-control"
                      id="icons-search"
                      [(ngModel)]="searchText"
                      placeholder="Busqueda..."
                    />
                </fieldset>
              </div>

              <div class="col-12 col-md-4">
                <fieldset class="form-group">
                  <ng-select [items]="anios" [(ngModel)]="nuevafechaActual"
                  [ngModelOptions]="{standalone: true}" bindLabel="name" bindValue="id"
                   placeholder="Seleccionar Año" (ngModelChange)="validar($event)"></ng-select>
                </fieldset>
              </div>

            </div>

            <hr>

            <div class="row">
            <div class="col-md-6 col-xl-4" [id]="i" [ngbTooltip]="dat.key"  *ngFor="let dat of Xdata  | filter: searchText:'name'; let i = index">
              <div *ngIf="dat.btn === true">
                <a  [routerLink]="['/postage/movement-of-parts/',dat.mes]">
                  <div class="card shadow-none bg-transparent border-success">
                  <div class="card-body">
                    <h4 class="card-title">{{ dat.name }} - {{ dat.fecha }} 
                      <!-- <small *ngIf="dat.btn === false"><font color="red"><strong>Ya Declarado</strong></font></small> -->
                      <small *ngIf="dat.btn === true"><font color="green"><strong>Declaración Activa</strong></font></small>
                    </h4>
                    <p class="card-text"><strong>Piezas:</strong> {{ dat.piezas }} - <strong>Monto:</strong> {{ dat.monto }}</p>
                  </div>
                </div>
              </a>
              </div>

              <div *ngIf="dat.btn === false">
                <a [routerLink]="['/postage/movement-of-parts/',dat.mes]">
                  <div class="card shadow-none bg-transparent border-danger" (click)="SeleccionarMes(dat)">
                  <div class="card-body">
                    <h4 class="card-title">{{ dat.name }} - {{ dat.fecha }} 
                      <small *ngIf="dat.btn === false"><font color="red"><strong>Declaración Culminada</strong></font></small>
                    </h4>
                    <p class="card-text"><strong>Piezas:</strong> {{ dat.piezas }} - <strong>Monto:</strong> {{ dat.monto }}</p>
                  </div>
                </div>
              </a>
              </div>
              
          </div>
          <br>
            </div>


          </section>
    </div>
</div>