<div class="card content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="card-body">
       
        <section class="users-list-wrapper">
  
            <div class="card">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center"
                      >Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label
                    >
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0"
                      >Buscar:<input
                        [(ngModel)]="searchValue"
                        name="searchValue"
                        type="search"
                        class="form-control ml-25"
                        placeholder="Codigo Tiraje"
                        (keyup)="filterUpdate($event)"
                        (search)="filterUpdate($event)"
                    /></label>
                  </div>
                </div>
              </div>
              <ngx-datatable
                [rows]="rowsTirajes"
                rowHeight="auto"
                class="bootstrap core-bootstrap"
                [limit]="selectedOption"
                [columnMode]="ColumnMode.force"
                [headerHeight]="50"
                [footerHeight]="50"
                [scrollbarH]="true"
              >
        
        
                <ngx-datatable-column name="TIRAJE" prop="tiraje" [width]="10">
                  <ng-template let-tiraje="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> <strong>{{ tiraje }}</strong> </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="TIPO" prop="xtipo" [width]="100">
                  <ng-template let-xtipo="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ xtipo }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
          
                <ngx-datatable-column name="VALOR" prop="valor" [width]="10">
                  <ng-template let-valor="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ valor }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="COSTO" prop="costo" [width]="10">
                  <ng-template let-costo="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ costo }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="CANTIDAD" prop="cantidadQR" [width]="10">
                  <ng-template let-cantidadQR="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ cantidadQR }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
          
        
                <ngx-datatable-column name="Acción" [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button type="button" class="btn btn-sm btn-primary"  (click)="ModalDetails(DetailsModal,row,listaDocumentosAdjuntosEmpresa(row))" rippleEffect>
                      <span [data-feather]="'eye'" [class]="'mr-25'"></span></button>
                  </ng-template>
                </ngx-datatable-column>
          
        
              </ngx-datatable>
            </div>
          </section>

    </div>
</div>