<div class="card content-wrapper container-xxl p-0" *blockUI="'section-block'">
  <div class="card-body">
    <div class="container" align="center">
      <label><h5><font color="red">Estimado OPP, este modulo solo mostrara las tarifas del mes actual, si desea visualizar las tarifas de algun mes anterior y/o posterior al actual, tiene que dar click en el icono. </font><span [data-feather]="'archive'"></span></h5></label>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav nav-pills nav-pill-warning my-2 justify-content-center">
      <li ngbNavItem>
        <a ngbNavLink  (click)="CapturarNav($event)">Nacional Aéreo</a>
        <ng-template ngbNavContent>
          <section class="users-list-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <button type="button" class="btn btn-success" (click)="ModalRegistrarTarifaEnvio(ModalTarifaEnvio)"
                      rippleEffect>
                      Registrar Tarifa Nacional Aéreo</button>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                        name="searchValue" type="search" class="form-control ml-25" placeholder="Peso de Envio"
                        (keyup)="filterUpdateTarifaNacionalAereo($event)"
                        (search)="filterUpdateTarifaNacionalAereo($event)" /></label>
                  </div>
                </div>
              </div>

              <ngx-datatable [rows]="rowsTarifaNacionalAereo" rowHeight="auto" class="bootstrap core-bootstrap"
                [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [scrollbarH]="true">

                <ngx-datatable-column name="Peso Envio" prop="nombre_peso_envio" [width]="60">
                  <ng-template let-nombre_peso_envio="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ nombre_peso_envio }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="60">
                  <ng-template let-descripcion="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ descripcion }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="PMVP" prop="pmvp" [width]="20">
                  <ng-template let-pmvp="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-info">
                        {{ pmvp }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="I.V.A" prop="iva" [width]="20">
                  <ng-template let-iva="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-danger">
                        {{ iva }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column name="TASA POSTAL" prop="tasa_postal" [width]="20">
                  <ng-template let-tasa_postal="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-warning">
                      {{ tasa_postal }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="TOTAL PAGAR" prop="total_pagar" [width]="20">
                  <ng-template let-total_pagar="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-success">
                      {{ total_pagar }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="status" prop="status_pef" [width]="20">
                  <ng-template let-status_pef="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" *ngIf="status_pef === 1" ngClass="badge-light-success">Autorizado</div>
                    <div class="badge badge-pill" *ngIf="status_pef === 0" ngClass="badge-light-danger">No Autorizado</div>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Accion" [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <div>
                          <a (click)="EditTarifa(ModalEditTarifa,row)"
                            ngbDropdownItem><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                            Editar</a>
                          <a (click)="DeleteTarifaNacionalAereo(row)" *ngIf="row.status_pef != '1'" ngbDropdownItem><span [data-feather]="'trash'"
                              [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>


              <!--/ Invoice List -->
            </div>
          </section>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink  (click)="CapturarNav($event)">Nacional Terrestre</a>
        <ng-template ngbNavContent>
          <section class="users-list-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <button type="button" class="btn btn-success" (click)="ModalRegistrarTarifaEnvio(ModalTarifaEnvio)"
                      rippleEffect>
                      Registrar Tarifa Nacional Terrestre</button>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                        name="searchValue" type="search" class="form-control ml-25" placeholder="Peso de Envio"
                        (keyup)="filterUpdateTarifaNacionalAereo($event)"
                        (search)="filterUpdateTarifaNacionalAereo($event)" /></label>
                  </div>
                </div>
              </div>

              <ngx-datatable [rows]="rowsTarifaNacionalAereo" rowHeight="auto" class="bootstrap core-bootstrap"
                [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [scrollbarH]="true">

                <ngx-datatable-column name="Peso Envio" prop="nombre_peso_envio" [width]="60">
                  <ng-template let-nombre_peso_envio="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ nombre_peso_envio }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="60">
                  <ng-template let-descripcion="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ descripcion }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="PMVP" prop="pmvp" [width]="20">
                  <ng-template let-pmvp="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-info">
                        {{ pmvp }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="I.V.A" prop="iva" [width]="20">
                  <ng-template let-iva="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-danger">
                        {{ iva }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column name="TASA POSTAL" prop="tasa_postal" [width]="20">
                  <ng-template let-tasa_postal="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-warning">
                      {{ tasa_postal }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="TOTAL PAGAR" prop="total_pagar" [width]="20">
                  <ng-template let-total_pagar="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-success">
                      {{ total_pagar }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="status" prop="status_pef" [width]="20">
                  <ng-template let-status_pef="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" *ngIf="status_pef === 1" ngClass="badge-light-success">Autorizado</div>
                    <div class="badge badge-pill" *ngIf="status_pef === 0" ngClass="badge-light-danger">No Autorizado</div>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Accion" [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <div>
                          <a (click)="EditTarifa(ModalEditTarifa,row)"
                            ngbDropdownItem><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                            Editar</a>
                          <a (click)="DeleteTarifaNacionalAereo(row)" ngbDropdownItem><span [data-feather]="'trash'"
                              [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>


              <!--/ Invoice List -->
            </div>
          </section>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)="CapturarNav($event)">Internacional Marítimo Llegada</a>
        <ng-template ngbNavContent>
          <section class="users-list-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <button type="button" class="btn btn-success" (click)="ModalRegistrarTarifaEnvio(ModalTarifaEnvio)"
                      rippleEffect>
                      Registrar Tarifa Internacional Marítimo Llegada</button>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                        name="searchValue" type="search" class="form-control ml-25" placeholder="Peso de Envio"
                        (keyup)="filterUpdateTarifaNacionalAereo($event)"
                        (search)="filterUpdateTarifaNacionalAereo($event)" /></label>
                  </div>
                </div>
              </div>

              <ngx-datatable [rows]="rowsTarifaNacionalAereo" rowHeight="auto" class="bootstrap core-bootstrap"
                [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [scrollbarH]="true">

                <ngx-datatable-column name="Peso Envio" prop="nombre_peso_envio" [width]="60">
                  <ng-template let-nombre_peso_envio="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ nombre_peso_envio }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="60">
                  <ng-template let-descripcion="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ descripcion }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="PMVP" prop="pmvp" [width]="20">
                  <ng-template let-pmvp="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-info">
                        {{ pmvp }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="I.V.A" prop="iva" [width]="20">
                  <ng-template let-iva="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-danger">
                        {{ iva }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column name="TASA POSTAL" prop="tasa_postal" [width]="20">
                  <ng-template let-tasa_postal="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-warning">
                      {{ tasa_postal }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="TOTAL PAGAR" prop="total_pagar" [width]="20">
                  <ng-template let-total_pagar="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-success">
                      {{ total_pagar }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="status" prop="status_pef" [width]="20">
                  <ng-template let-status_pef="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" *ngIf="status_pef === 1" ngClass="badge-light-success">Autorizado</div>
                    <div class="badge badge-pill" *ngIf="status_pef === 0" ngClass="badge-light-danger">No Autorizado</div>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Accion" [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <div>
                          <a (click)="EditTarifa(ModalEditTarifa,row)"
                            ngbDropdownItem><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                            Editar</a>
                          <a (click)="DeleteTarifaNacionalAereo(row)" ngbDropdownItem><span [data-feather]="'trash'"
                              [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>


              <!--/ Invoice List -->
            </div>
          </section>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)="CapturarNav($event)">Internacional Marítimo Salida</a>
        <ng-template ngbNavContent>
          <section class="users-list-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <button type="button" class="btn btn-success" (click)="ModalRegistrarTarifaEnvio(ModalTarifaEnvio)"
                      rippleEffect>
                      Registrar Tarifa Internacional Marítimo Salida</button>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                        name="searchValue" type="search" class="form-control ml-25" placeholder="Peso de Envio"
                        (keyup)="filterUpdateTarifaNacionalAereo($event)"
                        (search)="filterUpdateTarifaNacionalAereo($event)" /></label>
                  </div>
                </div>
              </div>

              <ngx-datatable [rows]="rowsTarifaNacionalAereo" rowHeight="auto" class="bootstrap core-bootstrap"
                [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [scrollbarH]="true">

                <ngx-datatable-column name="Peso Envio" prop="nombre_peso_envio" [width]="60">
                  <ng-template let-nombre_peso_envio="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ nombre_peso_envio }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="60">
                  <ng-template let-descripcion="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ descripcion }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="PMVP" prop="pmvp" [width]="20">
                  <ng-template let-pmvp="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-info">
                        {{ pmvp }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="I.V.A" prop="iva" [width]="20">
                  <ng-template let-iva="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-danger">
                        {{ iva }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column name="TASA POSTAL" prop="tasa_postal" [width]="20">
                  <ng-template let-tasa_postal="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-warning">
                      {{ tasa_postal }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="TOTAL PAGAR" prop="total_pagar" [width]="20">
                  <ng-template let-total_pagar="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-success">
                      {{ total_pagar }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="status" prop="status_pef" [width]="20">
                  <ng-template let-status_pef="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" *ngIf="status_pef === 1" ngClass="badge-light-success">Autorizado</div>
                    <div class="badge badge-pill" *ngIf="status_pef === 0" ngClass="badge-light-danger">No Autorizado</div>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Accion" [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <div>
                          <a (click)="EditTarifa(ModalEditTarifa,row)"
                            ngbDropdownItem><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                            Editar</a>
                          <a (click)="DeleteTarifaNacionalAereo(row)" ngbDropdownItem><span [data-feather]="'trash'"
                              [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>


              <!--/ Invoice List -->
            </div>
          </section>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)="CapturarNav($event)">Internacional Aéreo Llegada</a>
        <ng-template ngbNavContent>
          <section class="users-list-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <button type="button" class="btn btn-success" (click)="ModalRegistrarTarifaEnvio(ModalTarifaEnvio)"
                      rippleEffect>
                      Registrar Tarifa Internacional Aéreo Llegada</button>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                        name="searchValue" type="search" class="form-control ml-25" placeholder="Peso de Envio"
                        (keyup)="filterUpdateTarifaNacionalAereo($event)"
                        (search)="filterUpdateTarifaNacionalAereo($event)" /></label>
                  </div>
                </div>
              </div>

              <ngx-datatable [rows]="rowsTarifaNacionalAereo" rowHeight="auto" class="bootstrap core-bootstrap"
                [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [scrollbarH]="true">

                <ngx-datatable-column name="Peso Envio" prop="nombre_peso_envio" [width]="60">
                  <ng-template let-nombre_peso_envio="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ nombre_peso_envio }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="60">
                  <ng-template let-descripcion="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ descripcion }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="PMVP" prop="pmvp" [width]="20">
                  <ng-template let-pmvp="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-info">
                        {{ pmvp }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="I.V.A" prop="iva" [width]="20">
                  <ng-template let-iva="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-danger">
                        {{ iva }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column name="TASA POSTAL" prop="tasa_postal" [width]="20">
                  <ng-template let-tasa_postal="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-warning">
                      {{ tasa_postal }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="TOTAL PAGAR" prop="total_pagar" [width]="20">
                  <ng-template let-total_pagar="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-success">
                      {{ total_pagar }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="status" prop="status_pef" [width]="20">
                  <ng-template let-status_pef="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" *ngIf="status_pef === 1" ngClass="badge-light-success">Autorizado</div>
                    <div class="badge badge-pill" *ngIf="status_pef === 0" ngClass="badge-light-danger">No Autorizado</div>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Accion" [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <div>
                          <a (click)="EditTarifa(ModalEditTarifa,row)"
                            ngbDropdownItem><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                            Editar</a>
                          <a (click)="DeleteTarifaNacionalAereo(row)" ngbDropdownItem><span [data-feather]="'trash'"
                              [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>


              <!--/ Invoice List -->
            </div>
          </section>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink (click)="CapturarNav($event)">Internacional Aéreo Salida</a>
        <ng-template ngbNavContent>
          <section class="users-list-wrapper">
            <div class="card">
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label>
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <button type="button" class="btn btn-success" (click)="ModalRegistrarTarifaEnvio(ModalTarifaEnvio)"
                      rippleEffect>
                      Registrar Tarifa Internacional Aéreo Salida</button>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                        name="searchValue" type="search" class="form-control ml-25" placeholder="Peso de Envio"
                        (keyup)="filterUpdateTarifaNacionalAereo($event)"
                        (search)="filterUpdateTarifaNacionalAereo($event)" /></label>
                  </div>
                </div>
              </div>

              <ngx-datatable [rows]="rowsTarifaNacionalAereo" rowHeight="auto" class="bootstrap core-bootstrap"
                [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [scrollbarH]="true">

                <ngx-datatable-column name="Peso Envio" prop="nombre_peso_envio" [width]="60">
                  <ng-template let-nombre_peso_envio="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ nombre_peso_envio }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="60">
                  <ng-template let-descripcion="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ descripcion }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="PMVP" prop="pmvp" [width]="20">
                  <ng-template let-pmvp="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-info">
                        {{ pmvp }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="I.V.A" prop="iva" [width]="20">
                  <ng-template let-iva="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-danger">
                        {{ iva }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column name="TASA POSTAL" prop="tasa_postal" [width]="20">
                  <ng-template let-tasa_postal="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-warning">
                      {{ tasa_postal }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="TOTAL PAGAR" prop="total_pagar" [width]="20">
                  <ng-template let-total_pagar="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-success">
                      {{ total_pagar }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="status" prop="status_pef" [width]="20">
                  <ng-template let-status_pef="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" *ngIf="status_pef === 1" ngClass="badge-light-success">Autorizado</div>
                    <div class="badge badge-pill" *ngIf="status_pef === 0" ngClass="badge-light-danger">No Autorizado</div>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Accion" [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <div>
                          <a (click)="EditTarifa(ModalEditTarifa,row)"
                            ngbDropdownItem><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                            Editar</a>
                          <a (click)="DeleteTarifaNacionalAereo(row)" ngbDropdownItem><span [data-feather]="'trash'"
                              [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>


              <!--/ Invoice List -->
            </div>
          </section>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink><span [data-feather]="'archive'"></span></a>
        <ng-template ngbNavContent>
          <section class="users-list-wrapper">
            <div class="card">
              <h5 class="card-header">Filtro de búsqueda</h5>
              <div class="card-body">
                <div class="users-list-filter">
                  <form>
                    <div class="row">
                      <div class="col-12 col-md-3">
                        <fieldset class="form-group">
                          <input type="month" class="form-control" autocomplete="off" [(ngModel)]="selectedMes"
                            [ngModelOptions]="{standalone: true}" placeholder="Seleccione Fecha"
                            (change)="filterByFecha(selectedMes)"
                            />
                        </fieldset>
                      </div>
                      <div class="col-12 col-md-3">
                        <fieldset class="form-group">
                          <ng-select [items]="selectServicioFranqueo" [(ngModel)]="ServicioFranqueo"
                            name="ServicioFranqueo" bindLabel="name" bindValue="id"
                            placeholder="Seleccionar Servicio Franqueo"
                            (change)="filterByServicio($event)"></ng-select>
                        </fieldset>
                      </div>
                      <div class="col-12 col-md-3">
                        <fieldset class="form-group">
                          <ng-select [items]="itemsSelectPesoEnvio" [(ngModel)]="selectedPesoEnvio"
                            name="selectedPesoEnvio" bindLabel="name" bindValue="id" placeholder="Seleccionar Peso de Envio"
                            (change)="filterByPeso($event)"></ng-select>
                        </fieldset>
                      </div>
                      <div class="col-12 col-md-3">
                        <fieldset class="form-group">
                          <ng-select [items]="itemsSelectStatus" [(ngModel)]="selectedStatus"
                            name="selectedPesoEnvio" bindLabel="name" bindValue="id" placeholder="Seleccionar Status"
                            (change)="filterByStatus($event)"></ng-select>
                        </fieldset>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center">Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label>
                  </div>
                </div>

                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                        name="searchValue" type="search" class="form-control ml-25" placeholder="Buscar Status"
                        (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" /></label>
                  </div>
                </div>
              </div>

              <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap"
                [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [scrollbarH]="true">

                <ngx-datatable-column name="Peso Envio" prop="nombre_peso_envio" [width]="60">
                  <ng-template let-nombre_peso_envio="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ nombre_peso_envio }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Descripcion" prop="descripcion" [width]="60">
                  <ng-template let-descripcion="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold">{{ descripcion }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="PMVP" prop="pmvp" [width]="20">
                  <ng-template let-pmvp="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-info">
                        {{ pmvp }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="I.V.A" prop="iva" [width]="20">
                  <ng-template let-iva="value" ngx-datatable-cell-template>
                    <div>
                      <div class="badge badge-pill" ngClass="badge-light-danger">
                        {{ iva }}
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->


                <ngx-datatable-column name="TASA POSTAL" prop="tasa_postal" [width]="20">
                  <ng-template let-tasa_postal="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-warning">
                      {{ tasa_postal }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>


                <!-- <ngx-datatable-column name="TOTAL PAGAR" prop="total_pagar" [width]="20">
                  <ng-template let-total_pagar="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" ngClass="badge-light-success">
                      {{ total_pagar }}
                    </div>
                  </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="status" prop="status_pef" [width]="20">
                  <ng-template let-status_pef="value" ngx-datatable-cell-template>
                    <div class="badge badge-pill" *ngIf="status_pef === 1" ngClass="badge-light-success">Autorizado</div>
                    <div class="badge badge-pill" *ngIf="status_pef === 0" ngClass="badge-light-danger">No Autorizado</div>
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Accion" [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <div>
                          <a *ngIf="row.status_pef != '0'"
                            ngbDropdownItem><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span>
                            No Puede Borrar</a>
                          <a (click)="DeleteTarifaNacionalAereo(row)" *ngIf="row.status_pef != '1'" ngbDropdownItem><span [data-feather]="'trash'"
                              [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
               

              </ngx-datatable>


              <!--/ Invoice List -->
            </div>
          </section>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-1"></div>

  </div>
</div>



<ng-template #ModalTarifaEnvio let-modal>
  <div class="modal-header">
    <!-- <h5 class="modal-title" id="myModalLabel160">Registrar Tarifa de Envio <strong><font color="red">{{ NombreTipoFranqueo }}</font></strong></h5> -->
    <h5 class="modal-title" id="myModalLabel160">Registrar Tarifa de Envio</h5>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
      <div class="row d-flex align-items-end">
        <!-- <div class="col-md-4 col-12">
          <div class="form-group">
            <label for=" itempmvp">IVA</label>
            <input type="number" class="form-control" readonly autocomplete="off" [(ngModel)]="montoIVA"
            [ngModelOptions]="{standalone: true}"  placeholder="Monto IVA" />
          </div>
        </div> -->
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for=" itempmvp">TASA POSTAL</label>
            <input type="text" class="form-control" readonly autocomplete="off" [value]="montoTASA+' % '+ montoTASAnombre" placeholder="Tasa Postal" />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for=" itempmvp">MES</label>
            <input type="month" class="form-control" autocomplete="off" [(ngModel)]="fechax"
            #Mes="ngModel"
            [class.error]="!Mes.valid && formUsersRegister.submitted"
              [ngModelOptions]="{standalone: true}" placeholder="Mes" />
              <span *ngIf="formUsersRegister.submitted && Mes.invalid" class="invalid-form">
                <small class="form-text text-danger" *ngIf="Mes.errors.required"
                  >Nombre de Empresa es requerido!</small
                >
              </span>
          </div>
        </div>

      </div>
    </div>

    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
      <!-- <div *blockUI="'section-block'"> -->
      <form class="form" (ngSubmit)="(formUsersRegister.form.valid)" #formUsersRegister="ngForm" class="invoice-repeater">
        <div *ngFor="let item of items; let i = index" @heightIn>
          <div class="row d-flex align-items-end">
            <!-- <div class="col-md-1 col-12">
                  <div class="form-group">
                      <span>{{ i }}</span>
                  </div>
                </div> -->

                <div class="col-md-3 col-12">
                  <div class="form-group">
                    <label for="id_peso_envio{{ i }}">Servicio de Franqueo </label>
                    <ng-select [items]="selectServicioFranqueo" [(ngModel)]="item.id_servicio_franqueo"
                      [ngModelOptions]="{standalone: true}" bindLabel="name" bindValue="id" name="itemPesoEnvio{{ i }}"
                      id="itemPesoEnvio{{ i }}" placeholder="Seleccionar Tipo de Servicio de Franqueo"></ng-select>
                  </div>
                </div>


            <div class="col-md-3 col-12">
              <div class="form-group">
                <label for="id_peso_envio{{ i }}">Peso de Envio <strong>{{ item.id_peso_envio }}</strong></label>
                <ng-select [items]="itemsSelectPesoEnvio" [(ngModel)]="item.id_peso_envio"
                  [ngModelOptions]="{standalone: true}" bindLabel="name" bindValue="id" name="itemPesoEnvio{{ i }}"
                  id="itemPesoEnvio{{ i }}" placeholder="Seleccionar Peso de Envio"></ng-select>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="form-group">
                <label for=" itempmvp">Descripción</label>
                <input type="text" class="form-control" [(ngModel)]="item.descripcion" autocomplete="off"
                  [ngModelOptions]="{standalone: true}" name="itempmvp{{ i }}" id="itempmvp{{ i }}"
                  #Descripcion="ngModel"
                  [class.error]="!Descripcion.valid && formUsersRegister.submitted"      
                  placeholder="Ingrese Descripción" />
                  <span *ngIf="formUsersRegister.submitted && Descripcion.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="Descripcion.errors.required"
                      >Descripción es requerido!</small
                    >
                  </span>
              </div>
            </div>

            <div class="col-md-1 col-12">
              <div class="form-group">
                <label for=" itempmvp">PMVP</label>
                <input type="number" class="form-control" [(ngModel)]="item.pmvp" autocomplete="off"
                  [ngModelOptions]="{standalone: true}" name="itempmvp{{ i }}" id="itempmvp{{ i }}"
                  placeholder="Monto PMVP" />
              </div>
            </div>

            <div class="col-md-1 col-12">
              <div class="form-group">
                <button class="btn btn-outline-danger text-nowrap px-1" (click)="deleteItem(i)" rippleEffect>
                  <i data-feather="trash" class="mr-25"></i>
                </button>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </form>
      <div class="row">
        <div class="col-12" align="center">
          <button class="btn btn-icon btn-primary" type="button" (click)="addItem()" rippleEffect>
            <i data-feather="plus" class="mr-25"></i>
            <span>Agregar Peso de Envio</span>
          </button>
        </div>
      </div>
      <!-- </div> -->
      <!-- Header Ends -->
    </div>
  </div>
  <!--/ Invoice -->
  <div class="modal-footer">
    <!-- <button class="btn bg-gradient-success text-white" [disabled]="!formUsersRegister.form.valid" (click)="RegistrarTarifaNacionalAereo()">
      <span class="fa fa-plus"></span> Registrar Tarifa</button> -->
      <button type="submit" [disabled]="!formUsersRegister.form.valid" (click)="RegistrarTarifaNacionalAereo()"
      rippleEffect class="btn btn-success mr-1">Registrar Tarifa</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #ModalEditTarifa let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Actualizar Tarifa de Envio</h5>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
      <div class="row d-flex align-items-end">
        <div class="col-md-12 col-12">
          <div class="form-group">
            <label for=" itempmvp">Peso de Envio</label>
            <input type="text" class="form-control" autocomplete="off" readonly [value]="Xnombre_peso_envio"  />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for=" itempmvp">PMVP</label>
            <input type="text" class="form-control"  [(ngModel)]="Xpmvp"  (ngModelChange)="CambiarMontos($event)"  [ngModelOptions]="{standalone: true}"  autocomplete="off"  />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for=" itempmvp">I.V.A</label>
            <input type="text" class="form-control" readonly autocomplete="off"  [(ngModel)]="Xiva"  [ngModelOptions]="{standalone: true}"  />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for=" itempmvp">TASA POSTAL</label>
            <input type="text" class="form-control" readonly autocomplete="off"  [(ngModel)]="Xtasa_postal"  [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="form-group">
            <label for=" itempmvp">TOTAL PAGAR</label>
            <input type="text" class="form-control" readonly autocomplete="off"  [(ngModel)]="Xtotal_pagar"  [ngModelOptions]="{standalone: true}" />
          </div>
        </div>

      </div>
    </div>

  </div>
  <!--/ Invoice -->
  <div class="modal-footer">
    <!-- <button class="btn bg-gradient-success text-white" [disabled]="!formUsersRegister.form.valid" (click)="RegistrarTarifaNacionalAereo()">
      <span class="fa fa-plus"></span> Registrar Tarifa</button> -->
      <button type="submit" (click)="UpdateTarifa()"
      rippleEffect class="btn btn-success mr-1">Actualizar Tarifa </button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
      Cerrar
    </button>
  </div>
</ng-template>