<div class="card content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="card-body">
        <section id="feather-icons">
            <div class="row">
              <div class="col-12">
                <div class="icon-search-wrapper my-3 mx-auto">
                  <div class="form-group input-group input-group-merge">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i data-feather="search"></i></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      id="icons-search"
                      [(ngModel)]="searchText"
                      placeholder="Busqueda..."
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
            <div class="col-md-6 col-xl-4" [id]="i" [ngbTooltip]="dat.key"  *ngFor="let dat of data  | filter: searchText:'name'; let i = index">
              <!-- <div *ngIf="dat.btn === true"> -->
                <a  [routerLink]="['/postage/movement-of-parts/',dat.mes]">
                  <div class="card shadow-none bg-transparent border-success">
                  <div class="card-body">
                    <h4 class="card-title">{{ dat.name }} - {{ dat.fecha }} 
                      <!-- <small *ngIf="dat.btn === false"><font color="red"><strong>Ya Declarado</strong></font></small> -->
                      <!-- <small *ngIf="dat.btn === true"><font color="green"><strong>Declaración Activa</strong></font></small> -->
                    </h4>
                    <p class="card-text">{{ dat.concepto }}</p>
                  </div>
                </div>
              </a>
              <!-- </div> -->

              <!-- <div *ngIf="dat.btn === false">
                <a >
                  <div class="card shadow-none bg-transparent border-warning" (click)="SeleccionarMes(dat)">
                  <div class="card-body">
                    <h4 class="card-title">{{ dat.name }} - {{ dat.fecha }} 
                      <small *ngIf="dat.btn === false"><font color="red"><strong>Tiempo de Declaración Culminado</strong></font></small>
                    </h4>
                    <p class="card-text">{{ dat.concepto }}</p>
                  </div>
                </div>
              </a>
              </div> -->
              
          </div>
          <br>
            </div>


          </section>
    </div>
</div>