<div class="card content-wrapper container-xxl p-0" *blockUI="'section-block'">
    <div class="card-body">
       
        <section class="users-list-wrapper">
  
            <div class="card">
              <div class="row">
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <label class="d-flex align-items-center"
                      >Mostrar
                      <select class="form-control mx-25" [(ngModel)]="selectedOption">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                      Registros</label
                    >
                  </div>
                </div>
                <div class="col-md-3 col-12">
                  <div class="d-flex justify-content-between align-items-center m-1">
                    <button type="button" *ngIf="BtnShowTiraje == false" class="btn btn-primary" (click)="FilateliaModalAdd(ModalAddFilatelia)"  rippleEffect>
                      Generar Tiraje </button>
                  </div>
                </div>
                <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                  <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                    <label class="d-flex align-items-center ml-1 ml-md-0"
                      >Buscar:<input
                        [(ngModel)]="searchValue"
                        name="searchValue"
                        type="search"
                        class="form-control ml-25"
                        placeholder="Numero Tiraje"
                        (keyup)="filterUpdate($event)"
                        (search)="filterUpdate($event)"
                    /></label>
                  </div>
                </div>
              </div>
              <ngx-datatable
                [rows]="rowsTiraje"
                rowHeight="auto"
                class="bootstrap core-bootstrap"
                [limit]="selectedOption"
                [columnMode]="ColumnMode.force"
                [headerHeight]="50"
                [footerHeight]="50"
                [scrollbarH]="true"
              >
        
        
                <ngx-datatable-column name="TIRAJE" prop="tiraje" [width]="10">
                  <ng-template let-tiraje="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> <strong>{{ tiraje }}</strong> </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="Receptor" prop="xtipoReceptor" [width]="50">
                  <ng-template let-xtipoReceptor="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ xtipoReceptor }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="TIPO" prop="xtipo" [width]="10">
                  <ng-template let-xtipo="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ xtipo }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Valor" prop="valor" [width]="10">
                  <ng-template let-valor="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ valor.name }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="COSTO" prop="costo" [width]="10">
                  <ng-template let-costo="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ costo }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="CANTIDAD" prop="cantidadQR" [width]="10">
                  <ng-template let-cantidadQR="value" ngx-datatable-cell-template>
                    <div>
                      <span class="font-weight-bold"> {{ cantidadQR }} </span>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
          

        
                <ngx-datatable-column name="Accion"  [width]="5" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div ngbDropdown container="body">
                      <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect >
                        <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                      </button>
                      <div ngbDropdownMenu>
                        <a (click)="ModalVerTiraje(ModalViewTiraje, row)" ngbDropdownItem><span [size]="16"
                          [data-feather]="'eye'" [class]="'mr-50'"></span>Ver Tiraje</a>
                        <a  ngbDropdownItem><span [size]="16"
                            [data-feather]="'trash'" [class]="'mr-50'"></span>Eliminar</a>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
          
        
              </ngx-datatable>
            </div>
          </section>

    </div>
</div>

<ng-template #ModalAddFilatelia let-modal>
  <form class="form" (ngSubmit)="Generar()" #formUsersRegister="ngForm">      
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"> Generar Tiraje de Filatelia</h5>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
        
        <div class="row">
        <div class="col-md-12 col-12">
          <div class="form-group">
            <label class="form-label">Seleccione Tipo de Estampilla</label>
            <ng-select [items]="SelectTipoEstampilla" bindValue="id" 
            #TipoEstampilla="ngModel"
            [class.error]="!TipoEstampilla.valid && formUsersRegister.submitted"
            [(ngModel)]="xFilatelida.TipoEstampilla"
            [ngModelOptions]="{standalone: true, required: true}" 
            bindLabel="name" placeholder="Seleccione Tipo Estampilla" required autocomplete="off">
          </ng-select>
          <span *ngIf="formUsersRegister.submitted && TipoEstampilla.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="TipoEstampilla.errors.required"
              >Tipo de Estampilla es requerido!</small
            >
          </span>
          </div>
        </div>

        <div class="col-md-12 col-12">
          <div class="form-group">
            <label class="form-label">Seleccione Valor de Estampilla</label>
            <ng-select [items]="SelectValorEstampilla"
            #ValorEstampilla="ngModel"
            [class.error]="!ValorEstampilla.valid && formUsersRegister.submitted"
            [(ngModel)]="xFilatelida.ValorEstampilla"
            [ngModelOptions]="{standalone: true, required: true}" 
            bindLabel="name" placeholder="Seleccione Valor Estampilla" required autocomplete="off">
          </ng-select>
          <span *ngIf="formUsersRegister.submitted && ValorEstampilla.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="ValorEstampilla.errors.required"
              >Valor de Estampilla es requerido!</small
            >
          </span>
          </div>
        </div>

        <div class="col-md-12 col-12">
          <div class="form-group">
            <label class="form-label">Seleccione Tipo de Receptor</label>
            <ng-select [items]="SelectTipoReceptorEstampilla" bindValue="id" 
            #TipoReceptor="ngModel" (ngModelChange)="SelectTipoReceptor($event)"
            [class.error]="!TipoReceptor.valid && formUsersRegister.submitted"
            [(ngModel)]="xFilatelida.TipoReceptorEstampilla"
            [ngModelOptions]="{standalone: true, required: true}" 
            bindLabel="name" placeholder="Seleccione Tipo de Receptor" required autocomplete="off">
          </ng-select>
          <span *ngIf="formUsersRegister.submitted && TipoReceptor.invalid" class="invalid-form">
            <small class="form-text text-danger" *ngIf="TipoReceptor.errors.required"
              >Tipo de Receptor es requerido!</small
            >
          </span>
          </div>
        </div>

        <div class="col-md-12 col-12" *ngIf="showOPP === true">
          <div class="form-group">
            <label class="form-label">Seleccione Operador Postal Privado</label>
            <ng-select [items]="SelectOPP" bindValue="id" [(ngModel)]="xFilatelida.ReceptorEstampilla"
            [ngModelOptions]="{standalone: true, required: true}" 
            bindLabel="name" placeholder="Seleccione Operador Postal Privado" required autocomplete="off">
          </ng-select>
          </div>
        </div>

        <div class="col-md-12 col-12" *ngIf="showCOL === true">
          <div class="form-group">
            <label class="form-label">Seleccione Coleccionista</label>
            <ng-select [items]="SelectReceptores" bindValue="id" [(ngModel)]="xFilatelida.ReceptorEstampilla"
            [ngModelOptions]="{standalone: true, required: true}" 
            bindLabel="name" placeholder="Seleccione Coleccionista Receptor" required autocomplete="off">
          </ng-select>
          </div>
        </div>

        <div class="col-md-12 col-12" *ngIf="showOPT === true">
          <div class="form-group">
            <label class="form-label">Seleccione Oficina Postal Telegrafico</label>
            <ng-select [items]="SelectReceptores" bindValue="id" [(ngModel)]="xFilatelida.ReceptorEstampilla"
            [ngModelOptions]="{standalone: true, required: true}" 
            bindLabel="name" placeholder="Seleccione Operador Postal Telegrafico" required autocomplete="off">
          </ng-select>
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="form-group">
            <label class="form-label">Numero Correlativo</label>
            <input required  type="text"  class="form-control" readonly
            [(ngModel)]="TotalTirajesQR"
            [ngModelOptions]="{standalone: true}"
            placeholder="Numero Correlativo" />
          </div>
        </div>

        <div class="col-md-6 col-12">
          <div class="form-group">
            <label class="form-label">Costo Total</label>
            <input required  type="number" class="form-control" 
            #CostoReceptor="ngModel"
            [class.error]="!CostoReceptor.valid && formUsersRegister.submitted"
            [(ngModel)]="xFilatelida.CostoEstampilla"
            [ngModelOptions]="{standalone: true}"
            placeholder="Ingrese Costo" />
            <span *ngIf="formUsersRegister.submitted && CostoReceptor.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="CostoReceptor.errors.required"
                >Costo es requerido!</small
              >
            </span>
          </div>
        </div>

        <div class="col-md-12 col-12">
          <div class="form-group">
            <label class="form-label">Observación</label>
            <textarea class="form-control" [(ngModel)]="xFilatelida.ObservacionEstampilla"
            [ngModelOptions]="{standalone: true, required: true}"  id="basicTextarea" placeholder="Observación" required autocomplete="off" rows="3"></textarea>
          </div>
        </div>

        
      </div>
      <!-- Header Ends -->
    </div>
  </div>
  <!--/ Invoice -->
  <div class="modal-footer">
    <button class="btn bg-gradient-success text-white" type="submit" [disabled]="!formUsersRegister.form.valid">
      <span class="fa fa-plus"></span> Generar Tiraje</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        Cerrar
      </button>
    </div>
  </form>
</ng-template>




<ng-template #ModalViewTiraje let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"> Lista de QR de Tiraje <font color="red"><strong>{{titleModalTiraje}}</strong></font></h5>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="col-xl-12 col-md-12 col-12">
      <!-- Header Starts -->
        
  
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >Mostrar
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  Registros</label
                >
              </div>
            </div>

            <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Buscar:<input
                    [(ngModel)]="searchValueViewTiraje"
                    name="searchValue"
                    type="search"
                    class="form-control ml-25"
                    placeholder="Numero QR"
                    (keyup)="filterUpdateTirajeQR($event)"
                    (search)="filterUpdateTirajeQR($event)"
                /></label>
              </div>
            </div>
          </div>


          <ngx-datatable
            [rows]="rowsViewTirajeQR"
            rowHeight="auto"
            class="bootstrap core-bootstrap"
            [limit]="selectedOption"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >
            <ngx-datatable-column name="Filatelia QR" prop="row" [width]="10">
              <ng-template let-row="row" ngx-datatable-cell-template >
                <div>
                  <span class="font-weight-bold"> <strong> {{ row[1] }}</strong> </span>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Status QR" prop="row" [width]="10">
              <ng-template let-row="row" ngx-datatable-cell-template >
                <div>
                  <span class="font-weight-bold"> <strong> {{ row[0] }}</strong> </span>
                </div>
              </ng-template>
            </ngx-datatable-column>
    
    
    
          </ngx-datatable>

      <!-- Header Ends -->
    </div>
  </div>
  <!--/ Invoice -->
  <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        Cerrar
      </button>
    </div>
</ng-template>